html {
  @media screen and (max-width: 767px) {
    font-size: 50%;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    font-size: 62.5%;
  }

  @media screen and (min-width: 1200px) and (max-width: 1499px) {
    font-size: 70%;
  }

  @media screen and (min-width: 1500px) and (max-width: 1920px) {
    font-size: 80%;
  }

  @media screen and (min-width: 1921px) and (max-width: 2499px) {
    font-size: 90%;
  }

  @media screen and (min-width: 2499px) {
    font-size: 120%;
  }
}

* {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
}

.banner_bg {
  background-image: url("./images/banner-bg.jpg");
  background-repeat: no-repeat;
  background-size: 100vw 100%;

  section {
    @media screen and (max-width: 450px) {
      font-size: 60%;
    }

    @media screen and (min-width: 451px) {
      font-size: 100%;
    }
  }
}

#aboutUs {
  @media screen and (max-width: 450px) {
    width: 100vw;

    img {
      width: 100vw;
    }

    article {
      width: 85vw;
      padding: 4.6rem 6.7rem 4.6rem 2.15rem;
    }
  }

  @media screen and (min-width: 451px) {
    display: flex;
    width: 100vw;

    img {
      width: 50vw;
    }

    article {
      width: 50vw;
      padding: 4.6rem 6.7rem 4.6rem 4.15rem;
    }
  }
}

.A_little_about_us {
  font-size: 3.09rem/2.59rem;
  font-family: "Sansation";
  color: rgb(42, 42, 42);
  text-transform: uppercase;
  text-align: left;
  margin-bottom: 0.8rem;
}

.Shape_2 {
  background-color: rgb(41, 41, 41);
  width: 6rem;
  height: 1px;
}

.Shape_1 {
  background-color: rgb(42, 42, 42);
  width: 100%;
  height: 1px;
}

.We_are__a_company_based_in_india_with_the_motto {
  font-size: 1.25rem/1.65rem;
  font-family: "Myriad Pro";
  color: rgb(0, 0, 0);
  margin-top: 2.8rem;
}

.READ_MORE_DETAILS {
  display: block;
  text-decoration: none;
  font-size: 1.1rem;
  color: rgb(247, 247, 247);
  font-family: "NEOTERIC";
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  line-height: 2.4rem;
  border-radius: 2px;
  background-color: rgb(90, 159, 173);
  width: 16.1rem;
  height: 2.4rem;
  margin-top: 4rem;
}

#ourServices {
  width: 100vw;
  padding: 1.7em 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(58, 58, 58);

  @media screen and (max-width: 767px) {
    font-size: 40%;
  }

  @media screen and (min-width: 768px) and (max-width: 991px) {
    font-size: 50%;
  }

  @media screen and (min-width: 992px) {
    font-size: 100%;
  }
}

#Feedback {
  width: 100vw;
  padding: 1.7em 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(58, 58, 58);

  @media screen and (max-width: 767px) {
    font-size: 40%;
  }

  @media screen and (min-width: 768px) and (max-width: 991px) {
    font-size: 50%;
  }

  @media screen and (min-width: 992px) {
    font-size: 100%;
  }
}

.leftLine {
  transform: rotate(180deg);
  flex-grow: 1;
  width: 1fr;

  div:first-child {
    background-color: rgb(255, 255, 255);
    width: 7.1em;
    height: 3px;
  }

  div:last-child {
    background-color: rgb(255, 255, 255);
    width: 88%;
    height: 1px;
    margin-top: -2px;
  }

}

.rightLine {
  flex-grow: 1;
  width: 1fr;

  div:first-child {
    background-color: rgb(255, 255, 255);
    width: 7.1em;
    height: 3px;
  }

  div:last-child {
    background-color: rgb(255, 255, 255);
    width: 87%;
    height: 1px;
    margin-top: -2px;
  }
}

.OUR_SERVICES {
  font-size: 4em/2.6em;
  font-family: "Sansation";
  color: rgb(247, 247, 247);
  text-transform: uppercase;
  display: block;
  margin: 0 0.25em;
}




















































.Feedback {
  font-size: 4em/2.6em;
  font-family: "Sansation";
  color: rgb(247, 247, 247);
  text-transform: uppercase;
  display: block;
  margin: 0 1.2em;
}

section:nth-child(7) {
  width: 100vw;
  padding: 1.7em 0;
  display: flex;
  justify-content: center;
  align-items: center;

  @media screen and (max-width: 767px) {
    font-size: 40%;
  }

  @media screen and (min-width: 768px) and (max-width: 991px) {
    font-size: 50%;
  }

  @media screen and (min-width: 992px) {
    font-size: 100%;
  }
}

.Clients {
  font-size: 4em/2.6em;
  font-family: "Sansation";
  color: rgb(101, 100, 100);
  font-weight: bold;
  text-transform: uppercase;
  display: block;
  margin: 0 2.5em 0 1.125em;
}

.lineLeft {
  transform: rotate(180deg);
  flex-grow: 1;
  width: 1fr;

  div:first-child {
    background-color: rgb(101, 100, 100);
    width: 7.1em;
    height: 3px;
  }

  div:last-child {
    background-color: rgb(101, 100, 100);
    width: 87.5%;
    height: 1px;
    margin-top: -2px;
  }
}

.lineRight {
  flex-grow: 1;
  width: 1fr;

  div:first-child {
    background-color: rgb(101, 100, 100);
    width: 7.1em;
    height: 3px;
  }

  div:last-child {
    background-color: rgb(101, 100, 100);
    width: 87.5%;
    height: 1px;
    margin-top: -2px;
  }
}





section:nth-child(8) {
  @media screen and (max-width: 991px) {
    overflow-x: scroll;
    white-space: nowrap;
    padding: 0 2rem;
  }

  @media screen and (min-width: 992px) {
    padding: 7rem 0 9.5rem 0;
  }

  div {
    @media screen and (max-width: 991px) {
      display: inline-flex;
      justify-content: space-around;
      align-items: center;
    }

    @media screen and (min-width: 992px) {
      display: flex;
      align-items: center;
    }
  }

  img:nth-child(1) {
    width: 16.2%;
    height: 3.5%;
    vertical-align: middle;

    @media screen and (min-width: 992px) {
      margin: 0 8.7% 0 4.2%;
    }
  }

  img:nth-child(2) {
    width: 15.2%;
    height: 3%;

    @media screen and (min-width: 992px) {
      margin-right: 9%;
    }
  }

  img:nth-child(3) {
    width: 17.8%;
    height: 4%;

    @media screen and (min-width: 992px) {
      margin-right: 7.5%;
    }
  }

  img:nth-child(4) {
    width: 18.2%;
    height: 4.5%;
  }

  div:last-child {
    @media screen and (min-width: 992px) {
      margin-top: 7.3rem;
    }

    img:nth-child(1) {
      width: 14.4%;
      height: 5.8%;

      @media screen and (min-width: 992px) {
        margin: 0 13% 0 5%;
      }
    }

    img:nth-child(2) {
      width: 9.6%;
      height: 5%;

      @media screen and (min-width: 992px) {
        margin-right: 15%;
      }
    }

    img:nth-child(3) {
      width: 10.7%;
      height: 10.7%;

      @media screen and (min-width: 992px) {
        margin-right: 15.5%;
      }
    }

    img:nth-child(4) {
      width: 7.7%;
      height: 8%;
    }
  }
}
